@import url(/assets/css/normalize.css);

section {
  display: flex;
  justify-content: space-around;
  .postIt {
    width: 250px;
    height: 250px;
    background: yellow;
    #btnPostIt{
        width: 15px;
        height: 15px;
        background: url(../img/add-circle-outline.svg);
    }
  }
}
